Source: installinux
Section: net
Priority: optional
Maintainer: Paolo Asperti <paolo@asperti.com>
Build-Depends: debhelper (>= 7), intltool, pkg-config
Standards-Version: 3.9.5
Homepage: https://github.com/paspo/installinux

Package: installinux
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, iptables, iptables-persistent, pure-ftpd, nfs-kernel-server, squid3 (>= 3.4.0), apache2, apache2-mpm-prefork, libapache2-mod-php5, coreutils, dnsmasq, perl, wget, bash, snmpd, mrtg, cron, sudo
Description: Installinux system
 This package reconfigure your system (preferibly a fresh installed one) to have a transparent proxy server tuned for caching linux installations, a dhcp and tftp server for the internal network, an ftp server for ISO distributions and a nfs server for special network boots. 

