<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ @BASE }}/">Installinux</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {{ @URI==@BASE.'/status'?'class="active"':'' }}>
              <a href="{{ @BASE }}/status">Status</a>
            </li>
            <li {{ @URI==@BASE.'/config'?'class="active"':'' }}>
              <a href="{{ @BASE }}/config">Configuration</a>
            </li>
            <li {{ @URI==@BASE.'/packages'?'class="active"':'' }}>
              <a href="{{ @BASE }}/packages">Packages</a>
            </li>
            <li {{ @URI==@BASE.'/interfaces'?'class="active"':'' }}>
              <a href="{{ @BASE }}/interfaces">Interfaces</a>
            </li>
            <li {{ @URI==@BASE.'/system'?'class="active"':'' }}>
              <a href="{{ @BASE }}/system">System</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
