<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Installinux</title>

    <!-- Bootstrap -->
    <link href="{{ @BASE }}/vendor/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ @BASE }}/vendor/nostalgiaz/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ @BASE }}/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   

<include href="navbar.html" />



<repeat group="{{ @repositories }}" value="{{ @repository }}">


<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <i class="icon-calendar"></i>
          <h3 class="panel-title">Repository: {{ @repository->name }}</h3>
        </div>
<div class="panel-body">

<div class="row">
  <div class="col-lg-9">

 <table class="table">
 	<tr>
	 	<th>Name</th>
	 	<th>Installed</th>
	 	<th>Updated</th>
	 	<th>Actions</th>
 	</tr>
	<repeat group="{{ @repository->packages }}" value="{{ @package }}">
 	<tr>
	 	<td>{{ @package->name }}</td>
	 	<td><input type="checkbox" name="my-checkbox" {{ @package->installed ? 'checked' : '' }}></td>
	 	<td>{{ @package->update_available ? '-' : 'Y' }}</td>
	 	<td>[DEL] [MOD]</td>
 	</tr>
	</repeat>
 </table>
  

  </div>

</div><!-- /.row -->

        </div>

        </div>


    </div>
</repeat>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ @BASE }}/vendor/components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ @BASE }}/vendor/components/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ @BASE }}/vendor/nostalgiaz/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <script type="text/javascript">
		$("[name='my-checkbox']").bootstrapSwitch({size:'mini'});
	</script>
  </body>
</html>
